In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sea
import tweepy
import numpy as np
import json
from datetime import datetime
import os

In [19]:
health_data_path = os.path.join('Data Sets', 'health_data', 'SUMMARYMEASURESOFHEALTH.csv')
health_df = pd.read_csv(health_data_path)
health_df = health_df.rename(columns={'CHSI_County_Name':'County',
                                    'CHSI_State_Name':'State'})
health_df.head()

,State_FIPS_Code,County_FIPS_Code,County,State,CHSI_State_Abbr,Strata_ID_Number,ALE,Min_ALE,Max_ALE,US_ALE,...,Max_Health_Status,US_Health_Status,CI_Min_Health_Status,CI_Max_Health_Status,Unhealthy_Days,Min_Unhealthy_Days,Max_Unhealthy_Days,US_Unhealthy_Days,CI_Min_Unhealthy_Days,CI_Max_Unhealthy_Days
0,1,1,Autauga,Alabama,AL,29,74.9,74.5,78.0,76.5,...,22.8,17.1,15.5,28.2,7.5,4.0,8.8,6,5.4,9.7
1,1,3,Baldwin,Alabama,AL,16,76.6,75.5,78.2,76.5,...,20.4,17.1,12.4,18.3,6.7,5.6,7.4,6,5.7,7.7
2,1,5,Barbour,Alabama,AL,51,74.5,72.3,77.3,76.5,...,31.7,17.1,13.2,29.6,-1111.1,5.5,8.0,6,-1111.1,-1111.1
3,1,7,Bibb,Alabama,AL,42,73.2,73.3,77.8,76.5,...,29.3,17.1,10.1,28.7,-1111.1,4.7,8.2,6,-1111.1,-1111.1
4,1,9,Blount,Alabama,AL,28,76.1,74.9,79.4,76.5,...,24.6,17.1,19.6,32.1,7.9,4.2,7.8,6,6.0,9.8

In [22]:
census_data_path = os.path.join('Data Sets', 'acs2015_county_data.csv')
census_df = pd.read_csv(census_data_path)
census_df = census_df.rename(columns={'State_x':'State'})
census_df.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [23]:
merged_df = pd.merge(census_df,health_df,on='State',how='outer')
merged_df.head(3)

,CensusId,State,County_x,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Max_Health_Status,US_Health_Status,CI_Min_Health_Status,CI_Max_Health_Status,Unhealthy_Days,Min_Unhealthy_Days,Max_Unhealthy_Days,US_Unhealthy_Days,CI_Min_Unhealthy_Days,CI_Max_Unhealthy_Days
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,22.8,17.1,15.5,28.2,7.5,4.0,8.8,6.0,5.4,9.7
1,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,20.4,17.1,12.4,18.3,6.7,5.6,7.4,6.0,5.7,7.7
2,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,31.7,17.1,13.2,29.6,-1111.1,5.5,8.0,6.0,-1111.1,-1111.1

In [26]:
california_df = merged_df.loc[merged_df['State'] == 'California']
california_df = california_df.reset_index(drop=True)
california_df.head()

,CensusId,State,County_x,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Max_Health_Status,US_Health_Status,CI_Min_Health_Status,CI_Max_Health_Status,Unhealthy_Days,Min_Unhealthy_Days,Max_Unhealthy_Days,US_Unhealthy_Days,CI_Min_Unhealthy_Days,CI_Max_Unhealthy_Days
0,6001,California,Alameda,1584983,776699,808284,22.6,33.0,11.3,0.3,...,20.2,17.1,9.8,14.1,6.0,5.3,6.9,6.0,5.3,6.6
1,6001,California,Alameda,1584983,776699,808284,22.6,33.0,11.3,0.3,...,36.6,17.1,-1111.1,-1111.1,-1111.1,4.6,9.3,6.0,-1111.1,-1111.1
2,6001,California,Alameda,1584983,776699,808284,22.6,33.0,11.3,0.3,...,21.7,17.1,-1111.1,-1111.1,-1111.1,4.6,7.4,6.0,-1111.1,-1111.1
3,6001,California,Alameda,1584983,776699,808284,22.6,33.0,11.3,0.3,...,21.7,17.1,9.9,18.6,7.1,5.2,7.6,6.0,5.7,8.6
4,6001,California,Alameda,1584983,776699,808284,22.6,33.0,11.3,0.3,...,26.0,17.1,1.3,16.2,5.2,4.5,7.3,6.0,2.9,7.5

In [ ]:
plt.scatter(x=urb_rc, y=urb_af, s=urb_dc*4,c='lightcoral',edgecolors='black', alpha=0.9)
plt.scatter(x=rur_rc, y=rur_af, s=rur_dc*4,c='gold',edgecolors='black', alpha=0.9)
plt.scatter(x=sub_rc, y=sub_af, s=sub_dc*4,c='skyblue',edgecolors='black', alpha=0.9)
plt.legend(['Urban','Rural','Suburban'],title=('City Types'),loc='upper right', fancybox=True,fontsize=8)

plt.title('Pyber Ride Sharing Data 2016',fontsize=10)

plt.xlabel('Total Rides (Per City)',fontsize=8)
plt.ylabel('Average Fare ($)',fontsize=8)

plt.xlim(0,40)
plt.ylim(15,45)

plt.grid(color='black',alpha=0.25)

plt.text(42, 30, 'Note: Circle size correlates with driver count per city', fontsize=10)

sns.set()

plt.show()